.agreement {
   padding: 100px 88px 300px 110px;
   &__title {
      margin-bottom: 60px;
      text-align: center;
      font-weight: 400;
      font-size: 32px;
   }

   &__text {
      font-size: 14px;
      font-weight: 600;
      line-height: 16px;
      margin-top: 85px;
      &_title {
         font-weight: 600;
      }
      & p {
         font-weight: 400;
      }
      & ul {
         text-indent: 20px;
         // color: red;
         font-weight: 400;
         & > ul {
            text-indent: 40px;
         }
      }
      & span {
         color: $color_bg-light;
      }
   }
}
