.footer {
   color: #9e9e9e;
   &__content {
      padding: 0 72px 49px 40px;
      display: flex;
      align-items: flex-start;
   }

   &__logo {
      padding-top: 13px;
      margin-right: 22px;
      width: 70px;
      height: 70px;
      & img {
         object-fit: contain;
         height: 70px;
         width: 70px;
      }
   }

   &__nav {
      padding-top: 13px;
      width: 203px;
      margin-right: 50px;
   }

   &__title {
      font-size: 12px;
      font-weight: 900;
      color: $color_white;
      letter-spacing: 0.34em;
      // line-height: 14px;

      & span {
         font-weight: 500;
         // line-height: 14px;
      }
   }

   &__subtitle {
      margin-top: 7px;
      // line-height: 14px;
      font-weight: 500;
      font-size: 12px;
   }
   & ul {
      width: 100%;
      margin-top: 26px;
      font-size: 12px;
   }
   & li {
      width: 203px;
      margin-top: 8px;
   }

   &__partner {
      width: fit-content;
      margin-top: 50px;
      padding: 5px 11px;
      background-color: $color_bg-block;
      border-radius: 44px;
      display: flex;
      align-items: center;
      font-size: 12px;
      & span {
         margin-right: 10px;
      }
   }

   &__statistic {
      position: relative;
      width: 100%;
      padding: 44px 0 36px 68px;
      display: grid;
      grid-template-columns: 370px 370px;
      grid-template-rows: auto auto;
      align-items: center;
      justify-items: flex-start;
      background-color: $color_bg-block;
      border-radius: 78px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      row-gap: 40px;
      column-gap: 77px;
   }

   &__statistic-block {
      display: flex;
   }

   &__statistic-img {
      // margin-right: 32px;
      width: 65px;
      margin: auto 0;
      & img {
         object-fit: contain;
         width: 100%;
      }
   }

   &__statistic-text {
      margin-left: 32px;
   }

   &__statistic-score {
      margin-top: 3px;
      color: $color_white;
      font-weight: 900;
      font-size: 28px;
   }

   &__statistic-title {
      margin-top: 10px;
      font-size: 19px;
      letter-spacing: 1px;
   }

   &__avatar {
      position: absolute;
      width: 700px;
      // bottom: -9px;
      bottom: -100px;
      // right: 116px;
      right: 0;

      & img {
         object-fit: contain;
         width: 100%;
      }
      &.w500 {
         width: 500px;
         bottom: 0;
         right: 30px;
      }
   }

   &__social {
      // margin-top: 50px;
      padding-bottom: 50px;
      margin-left: 415px;
      font-weight: 500;
      font-size: 12px;
      display: flex;
      align-items: center;
      & span {
         position: relative;
         &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: -17px;
            width: 12px;
            height: 1px;
            transform: translate(0, -50%);
            background-color: #9e9e9e;
         }
      }
   }

   &__icons {
      margin-left: 24px;
      display: flex;
      align-items: center;
      gap: 10px;
   }

   &__icon {
   }
}
