.newsline {
   color: $color_black;
   padding-top: 57px;
   display: flex;
   height: 100%;
}
.subscribe {
   padding: 15px 26px 0 47px;
   margin-top: 14px;
   width: 308px;
   height: 440px;
   background: #c4c4c4;
}
.line {
   padding-top: 133px;
   margin-left: 226px;
   margin-right: 140px;
   width: 600px;
   height: 100%;
   background: #c4c4c4;
   text-align: center;
}
.friends {
   // padding: 68px 0 65px 39px;
   // // margin-left: 140px;
   // width: 400px;
   // height: 170px;
   // background: #c4c4c4;
}
