.progress {
   margin: 0 auto 350px;
   width: 1400px;
   color: $color_white;

   h1 {
      text-align: center;
      font-size: 60px;
   }
   &__title {
      margin-top: 55px;
      margin-bottom: 50px;
      font-weight: 400;
   }
   &__block {
      height: 100px;
      margin-bottom: 25px;
      border-radius: 30px;
      font-size: 27px;
      display: flex;
      background-color: $color_bg-block;
   }

   &__info {
      flex: 0 0 1000px;
      display: flex;
      align-items: center;
   }

   &__img {
      margin-right: 18px;
      width: 120px;
      height: 100px;
      border: 1px solid $color_bg-light;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      & img {
         height: 100%;
         object-fit: contain;
      }
   }

   &__text-title {
      margin-bottom: 8px;
   }

   &__text-subtitle {
      color: #9f9f9f;
   }

   &__date {
      align-self: center;
   }
}
