.signup {
   // padding-bottom: 300px;
   &_title {
      margin-top: 107px;
      text-align: center;
      font-weight: 500;
      font-size: 60px;
   }

   &__subtitle {
      margin: 25px auto 0;
      width: 753px;
      font-size: 25px;
      text-align: center;
      & span {
         color: $color_bg-light;
      }
   }

   &__advantages {
      margin: 150px 250px;
      display: flex;
      justify-content: space-between;
      gap: 30px;
   }
   &__cards {
      padding: 0 147px;
      display: flex;
      justify-content: space-between;
      gap: 35px;
   }
   &__cards-title {
      font-size: 43px;
      font-weight: 500;
      margin-bottom: 107px;
      text-align: center;
   }

   &__cases-title {
      margin-top: 409px;
      text-align: center;
      font-size: 43px;
      font-weight: 500;
      // margin: 409px auto 0;
   }

   &__cases {
      margin: 104px auto 0;
      width: 1500px;
      height: 592px;
      background-color: $color_bg-block;
      border-radius: 78px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      // align-items: flex-end;
   }

   &__cases-item {
      margin: -40px auto;
      position: relative;
      top: -75px;
      width: 400px;
      height: 400px;
      & img {
         width: 100%;
         height: 100%;
         object-fit: contain;
         transition: 0.5s;
         &:hover {
            transform: scale(130%);
         }
      }
   }

   &__cases-subtitle {
      padding-bottom: 300px;
      margin-left: 210px;
      margin-top: 74px;
      font-weight: 500;
      font-size: 35px;
      & span {
         color: $color_bg-light;
      }
   }
}
.advantages {
   &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 48px;
   }

   &__img {
      width: 120px;
      height: 120px;
      & img {
         width: 100%;
         object-fit: contain;
      }
   }

   &__title {
      // margin-top: 48px;
      white-space: nowrap;
      font-size: 25px;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
   }

   &__text {
      font-size: 17px;
      font-weight: 400;
      text-align: center;
      line-height: 20px;
      & span {
         color: $color_bg-light;
      }
   }
}

.card {
   // isolation: isolate;
   position: relative;
   padding: 62px 17px 31px 7px;
   background-color: $color_bg-block;
   flex: 0 0 518px;
   height: 760px;
   border-radius: 35px;
   font-weight: 500;
   // transition: transform 0.5s, top 0.5s;
   transition: transform 0.7s;
   transform-style: preserve-3d;
   // z-index: 0;
   // opacity: 0.99999;
   // box-sizing: content-box;
   cursor: pointer;
   &:hover {
      transform: translate(0, -52px);
      border: 2px solid $color_bg-light;
   }
   &.active {
      transform: rotateY(180deg);
      &:hover {
         border: 2px solid $color_bg-light;
         transform: translate(0, -52px) rotateY(180deg);
      }
   }
   &__front,
   &__back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      display: flex;
      flex-direction: column;
      backface-visibility: hidden;
   }
   &__front {
      display: flex;
      flex-direction: column;
      padding: 62px 17px 31px 7px;
      transform: rotateX(0deg);
   }
   &__back {
      padding: 62px 52px 31px 23px;
      // gap: 42px;
      transform: rotateY(180deg);
      font-size: 30px;
      font-weight: 500;
      // & ul{
      //    display: flex;
      //    flex-direction: column;
      //    gap: 42px;
   }
   &__back-list {
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      gap: 42px;
      & li {
         display: flex;
         align-items: center;
         // gap: 42px;
         & .indicator {
            margin-right: 19px;
         }
      }
   }
   & img {
      width: 30px;
      height: 30px;
   }
   &__eagle {
      position: relative;
      width: 100px;
      height: 100px;
      transform: translate(10px, -30%);
      & img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   &__title {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 120px;
      background: url(../../img/signup/bg_logo.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      font-size: 35px;
   }

   &__list {
      margin-top: 57px;
      margin-bottom: auto;
      font-size: 23px;
      & li {
         position: relative;
         display: flex;
         align-items: flex-start;
         line-height: 29px;
         &:not(:last-child) {
            margin-bottom: 36px;
         }
         & .indicator {
            margin-top: 7px;
            margin-right: 16px;
         }

         // &:last-child {
         //    margin-bottom: auto;
         // }
      }
   }

   &__hint {
      // isolation: isolate;

      z-index: 20;
      position: absolute;

      border: 2px solid $color_bg-light;
      white-space: nowrap;
      // opacity: 0;
      visibility: hidden;
      background-color: $color_bg-block-dark;
      white-space: initial;
      text-align: center;
      line-height: 38px;

      &_price {
         width: 200px;
         height: 100px;
         display: flex;
         align-items: center;
         justify-content: center;
         border-radius: 30px;
         top: 30px;
         right: 10px;
         transform: translate(100%, -200%);
         &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 20%;
            height: 0;
            width: 0;
            border: 25px solid;
            border-color: $color_bg-light transparent transparent $color_bg-light;
            transform: translate(0, 100%) scaleX(50%) skewX(-40deg);
         }
         &::after {
            content: "";
            position: absolute;
            bottom: 6px;
            left: calc(20%);
            height: 0;
            width: 0;
            border: 25px solid;
            border-color: $color_bg-block-dark transparent transparent $color_bg-block-dark;
            transform: translate(3px, 100%) scaleX(45%) skewX(-43deg);
         }
      }
      &_booster {
         width: 500px;
         height: 250px;
         display: flex;
         align-items: center;
         justify-content: center;
         border-radius: 30px;
         top: -340px;
         left: -90px;

         // transform: translate(-25%, -150%);
         & img {
            width: 200px;
            height: 200px;
         }
         &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 20%;
            height: 0;
            width: 0;
            border: 50px solid;
            border-color: $color_bg-light transparent transparent $color_bg-light;
            transform: translate(0, 100%) scaleX(50%) skewX(-40deg);
         }
         &::after {
            content: "";
            position: absolute;
            bottom: 7px;
            left: calc(20%);
            height: 0;
            width: 0;
            border: 50px solid;
            border-color: $color_bg-block-dark transparent transparent $color_bg-block-dark;
            transform: translate(3px, 100%) scaleX(45%) skewX(-45deg);
         }
      }
      &_booster-corr {
         transform: translate(-40px, -30px);
      }
      &_booster-premium {
         width: 500px;
         height: 250px;
         display: flex;
         align-items: center;
         justify-content: center;
         border-radius: 30px;
         top: -310px;
         left: -390px;
         transform: translate(-40px, -30px);
         & img {
            width: 200px;
            height: 200px;
         }

         &::before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 10%;
            height: 0;
            width: 0;
            border: 50px solid;
            border-color: $color_bg-light transparent transparent $color_bg-light;
            transform: translate(0, 100%) scaleX(-50%) skewX(-40deg);
         }
         &::after {
            content: "";
            position: absolute;
            bottom: 7px;
            right: 10%;
            height: 0;
            width: 0;
            border: 50px solid;
            border-color: $color_bg-block-dark transparent transparent $color_bg-block-dark;
            transform: translate(-3px, 100%) scaleX(-45%) skewX(-45deg);
         }
      }
      &_position {
         transform: translate(-80px, -60px);
      }

      // &_castom {
      //    width: 500px;
      //    height: 200px;
      //    display: flex;
      //    align-items: center;
      //    justify-content: center;
      //    white-space: initial;
      //    text-align: center;
      //    line-height: 38px;
      //    border-radius: 30px;
      //    top: -320px;
      //    left: -130px;
      //    // transform: translate(-25%, -150%);
      //    &::before {
      //       content: "";
      //       position: absolute;
      //       bottom: 0;
      //       left: 20%;
      //       height: 0;
      //       width: 0;
      //       border: 50px solid;
      //       border-color: $color_bg-light transparent transparent $color_bg-light;
      //       transform: translate(0, 100%) scaleX(50%) skewX(-40deg);
      //    }
      //    &::after {
      //       content: "";
      //       position: absolute;
      //       bottom: 7px;
      //       left: calc(20%);
      //       height: 0;
      //       width: 0;
      //       border: 50px solid;
      //       border-color: $color_bg-block-dark transparent transparent $color_bg-block-dark;
      //       transform: translate(3px, 100%) scaleX(45%) skewX(-45deg);
      //    }
      // }
   }
   &__question {
      // isolation: isolate;

      position: absolute;
      top: 0;
      right: 15px;
      transform: translate(0, -100%);
      // z-index: 3;
      &:hover > .card__hint {
         // opacity: 1;
         visibility: visible;
      }
   }
   &__cost {
      width: fit-content;
      position: relative;
      align-self: center;
      // justify-self: flex-end;
      text-align: center;
      font-size: 30px;
      & img {
         position: absolute;
         top: 0;
         right: -46px;
         transform: translate(0, -100%);
      }
   }

   &__old-cost {
      position: absolute;
      font-size: 20px;
      white-space: nowrap;
      color: $color_bg-light;
      text-decoration: line-through;
      top: 0;
      transform: translate(0, -100%);
   }
   &__price {
      padding: 8px 24px 8px 31px;
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 78px;
      background-color: $color_bg-block-dark;
      &:hover {
         border: 2px solid $color_bg-light;
      }
   }
}

.signin {
   &__bunner {
      margin: 72px auto 141px;
      // margin-top: 72px;
      width: 1750px;
      height: 500px;
      & img {
         width: 100%;
         height: 100%;
         object-fit: contain;
      }
   }
   &__modes-title {
      margin-top: 200px;
   }
   &__modes {
      margin-bottom: 51px;
      padding: 0 85px;
      display: flex;
      justify-content: space-between;
   }

   &__mode-item {
      width: 800px;
      height: 450px;
      border-radius: 30px;
      & img {
         width: 100%;
         height: 100%;
         object-fit: contain;
         border-radius: 30px;
      }
   }
}
