@media (max-width: 1800px) {
   .items {
      &__blocks {
         flex-direction: column;
      }
      &__bests {
         margin-top: 20px;
      }
      &__table {
         justify-content: space-between;
         grid-template-columns: repeat(auto-fill, 260px);
         grid-auto-columns: repeat(auto-fill, 260px);
      }
   }
   .maps {
      padding: 65px 100px 100px;
   }
   .myfriends-list {
      &__block {
         justify-content: space-around;
         // justify-items: space-around;
      }
   }
}

@media (max-width: 1700px) {
   .how {
      &__arrow {
         &:nth-child(2) {
            left: 42%;
         }
         &:last-child {
            left: 68%;
         }
      }
   }
   .signup {
      &__advantages {
         gap: 150px;
      }
   }
   .profile {
      padding-right: 10px;
      &__banner-right {
         display: none;
      }
   }
}

@media (max-width: 1600px) {
   .header {
      &__left {
         flex: 0 0 25%;
      }
      &__menu {
         font-size: 15px;
         & li {
            margin-right: 10px;
            white-space: nowrap;
         }
      }
      &__logo {
         margin-right: 25px;
      }
   }
   .progress {
      margin: 0 10px 350px;
   }

   .ranked {
      &__friends {
         padding-right: 10px;
      }
   }
   .statistic {
      &__table {
         width: 100%;
         margin-bottom: 100px;
      }

      &__header {
         width: 100%;
      }
   }

   .statistic-table {
      width: 100%;
   }
}

////////////////////////////////////

@media (max-width: 1450px) {
   .header {
      &__right {
         justify-content: space-between;
      }

      &__search {
         margin-right: 20px;
      }
      &__group {
         margin-right: 20px;
      }
      &__info {
         gap: 10px;
      }
   }

   .footer {
      &__statistic-score {
         font-size: 20px;
      }
      &__statistic-title {
         font-size: 15px;
      }
   }

   .maps {
      padding: 65px 0px 100px;
   }
   .myfriends {
      padding: 65px 50px 200px;
      & input {
         width: 300px;
      }
      & form {
         margin-left: 50px;
      }
   }
   .main {
      padding: 75px 100px 270px;
   }
   .ranked {
      &__friends {
         display: none;
      }
   }
}

////////////////////////////////////

@media (max-width: 1300px) {
   .header {
      &__info {
         display: none;
      }
      &__right {
         justify-content: flex-end;
      }
   }

   .footer {
      &__statistic {
         padding: 20px 0 16px 50px;
         grid-template-columns: 1fr 45%;
         column-gap: 10px;
         row-gap: 10px;
         grid-template-areas:
            "games  avatar"
            "contract avatar"
            "gamers avatar"
            "cases avatar";
      }
      &__statistic-img {
         width: 40px;
      }
      &__avatar {
         align-self: center;
      }
   }

   .maps {
      &__col {
         gap: 10px;
      }
      &__team {
         width: auto;
      }
      &__team-item {
         padding: 0 10px;
         width: fit-content;
      }
   }
   .map {
      &__team {
         width: 378px;
         flex: 0 0 378px;
         padding: 23px 15px;
      }
   }
   .team {
      &__name {
         margin: 0;
      }
      &__item {
         &_left {
            justify-content: center;
         }
         &_right {
            justify-content: center;
         }
      }

      &__logo {
         display: none;
      }
      &__logo_single {
         display: block;
      }
      &__ava {
         margin: 0 10px;
      }
   }
   .signin {
      &__bunner {
         padding: 0;
      }
   }
   .signup {
      &__cases {
         height: auto;
         grid-template-columns: repeat(2, 1fr);
         grid-template-rows: repeat(3, 1fr);
      }
      &__cases-subtitle {
         padding-bottom: 150px;
         margin-left: 0px;
      }
      &__advantages {
         gap: 50px;
      }
   }
   .profile {
      padding-left: 20%;
      &__banner-left {
         width: 10%;
      }
   }
   .statistic-table {
      & td {
         font-size: 20px;
      }
   }
}

@media (max-width: 1150px) {
   .myfriends {
      padding: 65px 0 100px;
   }

   .myfriends-list {
      &__item {
         width: 350px;
         height: 70px;
      }
      &__ava {
         width: 50px;
         height: 50px;
      }
      &__name {
         font-size: 22px;
         // margin-right: 10px;
      }
      &__rank {
         width: 150px;
      }
      &__block {
         grid-template-columns: repeat(auto-fill, 360px);

         // justify-items: center;
      }
   }
   .main {
      padding: 75px 0 100px;
   }
   .ranked-content {
      flex-direction: column-reverse;
      align-items: center;
      padding-bottom: 100px;
   }
   .ranked {
      margin: 0;
      width: 100%;
   }
   .best-players {
      width: 400px;

      margin-top: 20px;
      margin-left: 0px;
      &__item {
         width: 100%;
      }
   }
   .statistic {
      &__table {
         padding: 38px 10px 100px;
      }
   }
}

////////////////////////////////////

@media (max-width: 1050px) {
   .header {
      &__menu {
         display: none;
      }
      &__search {
         display: none;
      }
      &__group {
         display: none;
      }
      &__ring {
         display: none;
      }
      &__wallet {
         display: none;
      }
      &__user {
         display: none;
      }
      &__btn-signup {
         display: none;
      }
      &__btn-signin {
         display: none;
      }
   }
   .burger {
      display: block;
   }
   .footer {
      &__content {
         flex-direction: column;
         align-items: center;
      }
      &__logo {
         margin-bottom: 20px;
      }
      &__nav {
         margin-right: 0;

         margin-bottom: 40px;
         display: flex;
         flex-direction: column;
         align-items: center;
         width: 100%;
      }
      &__title {
         text-align: center;
      }
      &__subtitle {
         text-align: center;
      }

      & ul {
         display: flex;
         justify-content: center;
      }
      & li {
         width: auto;
         margin-right: 20px;
      }
      &__partner {
         margin-top: 30px;
         // display: block;
         text-align: center;
      }
      &__social {
         display: flex;
         justify-content: center;
         margin-left: 0;
      }
   }

   .connect {
      padding: 27px 20px 0;
      margin-bottom: 100px;
      width: 90%;
      &__info {
         grid-template-columns: repeat(2, auto);
         grid-template-rows: repeat(4, auto);
         justify-content: space-around;
      }
      &__players-title,
      &__map-title {
         margin-top: 30px;
      }
   }
   .items {
      padding-right: 50px;
      &__bests {
         flex-direction: column;
      }
      &__title-btn {
         margin-left: 10px;
      }
   }

   .maps {
      &__grid {
         grid-template-columns: 1fr;
      }
   }
   .recommend {
      margin-left: 0px;
   }
   .news {
      &__content {
         margin-left: 20px;
      }
   }
   .signup {
      &_title {
         margin-top: 130px;
         font-size: 45px;
      }
      &__subtitle {
         font-size: 20px;
      }
   }
   .map {
      padding: 50px 0 100px;
   }
   .modal {
      width: 700px;
      // height: 500px;
   }
   .profile {
      padding-bottom: 100px;
      padding-left: 10px;
      &__name {
         flex-direction: column;
         align-items: flex-start;
      }
      &__btn-block {
         margin-top: 10px;
         align-self: flex-end;
      }
      &__header {
         align-items: flex-end;
      }
      &__aside-menu {
         margin-top: 12px;
      }
      &__banner-left {
         display: none;
      }
   }
   .progress {
      &__block {
         font-size: 20px;
      }
   }
   .statistic {
      &__header {
         flex-direction: column;
         align-items: flex-start;
      }
      &__btn-block {
         margin-top: 30px;
      }
   }
   .statistic-table {
      margin-bottom: 100px;
      & td {
         font-size: 18px;
      }
      & th {
         height: 50px;
         &:last-child {
            & img {
               height: auto;
               width: 55px;
            }
         }
         & img {
            height: 40px;
         }
      }
   }
}

////////////////////////////////////

@media (max-width: 850px) {
   .card {
      &:hover {
         transform: translate(0, 0);
      }
   }

   .signin {
      &__modes {
         flex-direction: column;
         gap: 40px;
      }
   }
   .signup {
      &__cases-item {
         // margin: -40px auto;
         margin-top: 10px;
         width: 280px;
         height: 280px;
      }
      &__cases-title {
         margin-top: 100px;
      }
   }
   .map {
      &__col {
         flex-direction: column;
         align-items: center;
      }
   }
   .team {
      &__item_left {
         flex-direction: row-reverse;
      }
   }
   .statistic-table {
      & td {
         margin-top: 20px;

         height: 70px;
      }

      &__img {
         width: 150px;
         height: 40px;
         & div {
            width: 30px;
            height: 30px;
         }
      }
   }
   .statistic {
      &__title {
         font-size: 14px;
      }
      &__val {
         font-size: 20px;
      }
      &__logo {
         width: 40px;
         height: 40px;
      }

      &__item {
         &:nth-child(4) {
            &::before {
               width: 150px;
               height: 150px;
            }
         }
      }
   }
}

////////////////////////////////////

@media (max-width: 768px) {
   .footer {
      &__content {
         padding: 0 20px 49px 20px;
      }

      &__statistic {
         margin-top: 50px;
         grid-template-columns: 1fr;
         grid-template-rows: 100px 1fr 1fr 1fr 1fr;
         row-gap: 10px;
         grid-template-areas:
            "avatar "
            "games  "
            "contract"
            "gamers  "
            "cases";
      }
      &__avatar {
         width: 200px;
         top: -50px;
         left: 0px;
         align-self: center;
      }
   }

   .connect {
      &__item {
         flex-direction: column;
      }
      &__logo-block {
         margin-bottom: 20px;
      }
      &__info {
         font-size: 16px;
      }

      &__img {
         width: 200px;
         margin-left: 10px;

         & img {
            width: 100%;
         }
      }
   }
   .agreement {
      padding: 50px 20px 100px 20px;
   }
   .private {
      margin: 0;
      padding: 50px 20px 100px 20px;
   }

   .contact {
      padding: 50px 0;
      &__info {
         margin-top: 50px;
      }
   }

   .items {
      padding: 91px 20px 400px 20px;

      &__player {
         padding: 20px 35px;

         width: 100%;
         height: auto;
      }
      &__ava {
         flex: 0 0 100px;
         height: 100px;
         align-self: center;
      }
      &__name {
         font-size: 25px;
      }
      &__rank {
         display: none;
      }
      &__eagle {
         position: relative;
         // align-self: center;
         left: 0;
         top: 0;
      }

      &__player-money {
         flex-direction: column;
         align-items: flex-start;
         & span {
            margin-left: 50px;
         }
      }
      &__pay {
         margin: 15px 0 0 0;
      }
      &__title-block {
         height: auto;

         padding: 10px;
         flex-direction: column;
         align-items: flex-start;
      }
      &__title-name {
         margin-left: 0;
      }

      &__title-btn {
         margin: 10px 0 0 30px;
      }
      &__table {
         justify-content: center;
      }
   }

   .maps {
      &__col {
         flex-direction: column;
      }
      &__content {
         margin-top: 20px;
         order: 2;
      }
      &__team-item {
         margin: 0 10px;
         padding: 0 10px;
         width: 250px;
      }
      &__team-item_single {
         width: 320px;
      }

      &__team {
         margin-top: 20px;
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
      }
      &__grid {
         justify-items: center;
      }
   }
   .team {
      &__item {
         &_left {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;

            // justify-content: stretch;
         }
         &_right {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
         }
      }
      &__logo {
         display: block;
      }
   }
   .myfriends {
      &__search {
         height: auto;
         padding: 10px;
         flex-direction: column;
         align-items: flex-start;
         & input {
            width: 100%;
         }
         & form {
            margin-top: 10px;
            margin-left: 0px;
            width: 100%;
            // width: fit-content;
            // flex: 0 1 900px;
            // width: 100%;
         }
      }
      &__btn {
         align-self: center;
         margin-top: 20px;
      }
      &__search-title {
         width: 100%;
         flex-direction: column;
         align-items: flex-start;
         // justify-content: stretch;
      }
   }
   .recommend {
      display: none;
   }
   .how {
      &__title {
         font-size: 40px;
      }
      &__arrow {
         display: none;
      }
      &__text {
         font-size: 16px;
      }
   }
   .question {
      font-size: 25px;
      &__answer {
         font-size: 16px;
      }
   }
   .signup {
      &__subtitle {
         width: auto;
      }
      &__advantages {
         margin-top: 100px;
         margin-bottom: 150px;
      }
   }
   .advantages {
      &__item {
         gap: 25px;
      }
      &__title {
         font-size: 22px;
      }
   }
   .modal {
      width: 100%;
   }
   .friends {
      &__img {
         &_profile {
            display: none;
         }
      }
   }
   .profile {
      padding-top: 20px;
      &__content {
         width: 100%;
      }
      &__aside {
         width: 100%;
         // padding: 0 10px;
         margin: 0;
         margin-bottom: 90px;
         & li:not(:first-child) {
            margin: 0;
         }
      }
      &__aside-menu {
         padding: 10px;
         // margin-bottom: 20px;
         & ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
         }
         // & li {
         //    margin: 0;
         // }
      }

      flex-direction: column-reverse;
      &__friends {
         display: none;
      }
      &__rank {
         display: none;
      }
   }
   .progress {
      &__block {
         flex-direction: column;
         margin-bottom: 50px;
      }
      &__date {
         align-self: flex-start;
      }
   }
   .ranked {
      &__btn {
         display: none !important;
      }
      &__ava {
         display: none;
      }
   }
   .statistic {
      &__eagle {
         display: none;
      }
   }
   .statistic-table {
      padding: 5px;

      &__table {
         grid-template-columns: repeat(7, auto);
      }
      & td {
         font-size: 16px;
      }
      & th:nth-child(3),
      & td:nth-child(3),
      & th:nth-child(4),
      & td:nth-child(4),
      & th:nth-child(6),
      & td:nth-child(6) {
         display: none;
      }
   }
}

////////////////////////////////////

@media (max-width: 600px) {
   .items {
      padding: 91px 0 0px 0px;

      &__ava {
         flex: 0 0 80px;
         height: 80px;
      }
      &__text {
         margin-left: 10px;
      }

      &__title-block {
         align-items: center;
      }
      &__title-btn {
         margin-left: 0;
      }
      &__table {
         margin-bottom: 100px;
      }
   }
   .best-block {
      width: 100%;
      &__img {
         // position: relative;
         // top: -40px;
         // right: 50px;
         width: 200px;
         height: 200px;
         & img {
            width: 100%;
         }
      }

      &__img-drop {
         // width: 200px;
         width: 100%;
         height: 200px;
         flex: 0 0 200px;
         right: 10px;
      }
   }
   .write {
      &__form {
         flex-direction: column;
         align-items: flex-start;
         & form {
            & img {
               top: 10px;
            }
         }
      }
      &__ava {
         margin-bottom: 10px;
      }
      &__btn-block {
         // padding: 15px 0;

         flex-direction: column;
         align-items: flex-start;
         & button {
            width: 200px;
         }

         & form {
            align-self: center;
         }
      }
      &__tools {
         margin-left: 0;
         margin-bottom: 20px;
      }
   }
   .post {
      &__content {
         font-size: 30px;
         text-align: center;
      }
      &__bg {
         font-size: 80px;
      }
      &__statistic {
         font-size: 20px;
         & div {
            margin-right: 15px;

            & img {
               width: 25px;
               height: 25px;
               margin-right: 5px;
            }
         }
      }
   }
   .how {
      padding: 10px 20px 30px;

      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr auto 1fr auto;
      // row-gap: 20px;
      &__img {
         margin-top: 20px;
         &_width {
            margin-top: 20px;
         }
      }
   }
   .question {
      font-size: 20px;
      &__answer {
         font-size: 14px;
      }
   }
   .signup {
      &__cards-title {
         font-size: 30px;
      }
      &__cases {
         height: auto;
         grid-template-columns: 1fr;
         grid-template-rows: auto;
      }
      &__cases-subtitle {
         font-size: 22px;
      }
   }

   .signin {
      &__bunner {
         margin-bottom: 60px;
      }
      &__modes {
         padding: 0;
      }
      &__modes-title {
         margin-top: 100px;
      }
   }
   .card {
      flex: 0 0 300px;
      // height: auto;
      &__list {
         font-size: 16px;
         font-weight: 400;
      }
      &__question {
         display: none;
      }
      &__back {
         padding: 62px 15px 31px 23px;

         font-size: 16px;
         font-weight: 500;
      }
   }
   .map {
      &__title {
         width: 400px;
         padding: 16px 0 35px;
      }
   }
   .sale {
      &__trangle-out {
         border: 100px solid transparent;
         border-top: 160px solid $color_bg-light;
         &::after {
            content: "";
            position: absolute;
            top: -157px;
            left: -95px;
            border: 95px solid transparent;
            border-top: 150px solid $color_bg-block;
            display: block;
            width: 0;
            height: 0;
         }
      }
      & span {
         top: -80px;
      }

      &__trangle-in {
         position: absolute;
         top: -140px;
         left: -60px;
         // margin-top: 65px;
         border: 60px solid transparent;
         border-top: 100px solid $color_bg-light;
         display: block;
         width: 0;
         height: 0;
         z-index: 2;
         & img {
            position: absolute;
            width: 15px;
            height: 50px;
            top: -85px;
            left: -7px;
         }
      }
      &__btn-block {
         padding: 0 10px;
         width: 100%;
         top: -26px;
         justify-content: space-between;
         gap: 10px;
      }
   }
   .ranked {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
      &::after {
         // height: 2px;
         top: 80px;
      }

      &__table {
         width: 100%;
      }
      &__img {
         display: none;
      }
      &__title {
         & th {
            height: auto;
            writing-mode: vertical-lr;

            // text-orientation: upright;
            // transform: rotate(90deg);
         }
         & th:last-child {
            // display: none;
            visibility: hidden;
         }
      }
      & td:last-child {
         width: 20px;
      }
   }
   .statistic {
      &__table {
         grid-template-columns: repeat(2, 1fr);
         grid-template-rows: repeat(5, 1fr);
         // justify-items: space-around;
         // justify-content: space-between;
         // justify-self: center;
      }
      &__item {
         justify-self: center !important;
         flex-direction: row !important;
         margin: 0 !important;
         justify-content: flex-start;
         &:nth-child(4) {
            &::before {
               display: none;
            }
         }
      }
      &__info {
         text-align: start !important;
      }
   }
}

////////////////////////////////////

@media (max-width: 520px) {
   .out {
      & input {
         width: 100%;
         height: 50px;

         font-size: 20px;
      }
      & p {
         font-size: 16px;
         width: 100%;
      }
      padding: 10px;
      &__title {
         font-size: 25px !important;
      }
      &__cheat-name {
         width: 100%;

         // & input {
         //    // width: 100%;
         // }
      }
      &__account {
         width: 100%;
      }
   }
   .profile {
      &__aside {
         margin-bottom: 20px;
         & li {
            margin: 20px 10px;
         }
         & li:not(:first-child) {
            margin: 20px 10px;
         }
      }
      &__aside-menu {
         // font-size: 178px;
         & ul {
            flex-wrap: wrap;
         }
      }

      &__header {
         flex-direction: column;
         align-items: flex-start;
      }
      &__avatar {
         margin: 20px 0 50px;
         // margin-top: 20px;
         margin-bottom: 50px;
         width: 150px;
         flex: 0 0 150px;
      }
      &__rank {
         width: 150px;
         height: 150px;
         & span {
            bottom: 0px;
         }
      }
      &__progress {
         height: auto;
         flex-wrap: wrap;
         justify-content: flex-start;
      }
      &__comment {
         padding: 20px 5px;
      }
   }
   .comment {
      &__title {
         flex-direction: column;
         gap: 20px;
      }
      &__pagination {
         align-self: center;
      }
      &__ava {
         flex: 0 0 30px;
         height: 30px;
         font-size: 10px;
      }
      &__new {
         & input {
            font-size: 14px;
         }
      }
      &__text {
         font-size: 14px;
      }
   }
   .progress {
      &__text {
         padding: 5px 0;
      }
      &__title {
         font-size: 40px !important;
      }

      &__block {
         padding-bottom: 20px;
         // height: 60px;
         height: auto;
         font-size: 16px;
         font-weight: 400;
      }

      &__img {
         flex: 0 0 70px;
         width: 70px;
         // width: 120px;
         height: 60px;
         border-radius: 20px;

         // & img {}

         & img {
            height: 55px;
            // height: 100%;
            // width: 100%;
            object-fit: cover;

            // object-position: center;
            // margin: 0 auto;
         }
      }
      &__date {
         margin-right: 0;
         margin-left: 15px;
      }
   }
   .statistic {
      &__ava {
         width: 80px;
         height: 80px;
      }
      &__name {
         font-size: 20px;
         margin-left: 10px;
      }
      &__rank {
         margin-left: 0px;
         width: 120px;
         height: 120px;
         & img {
            top: 10px;
         }
      }
      &__btn {
         font-size: 15px;
      }
   }
   .statistic-table {
      &__table {
         grid-template-columns: repeat(6, auto);
      }
      & td {
         font-size: 16px;
      }
      & th:nth-child(2),
      & td:nth-child(2) {
         display: none;
      }

      & th {
         font-size: 15px;
         height: 45px;
         &:last-child {
            & img {
               height: auto;
               width: 40px;
            }
         }
         & img {
            height: 25px;
         }
      }
      & td {
         margin-top: 20px;
         height: 70px;
         font-size: 14px;
      }

      &__img {
         width: 70px;
         height: 20px;
         & div {
            width: 15px;
            height: 15px;
         }
      }
   }
   .upgrade {
      &__banner {
         margin: 0;
      }

      &__title {
         font-size: 70px;
      }
      &__subtitle {
         font-size: 18px;
      }
   }
}

////////////////////////////////////

@media (max-width: 420px) {
   .footer {
      &__nav {
         & ul {
            flex-direction: column;
         }
      }
   }
   .items {
      &__player {
         padding: 10px 10px;
      }
      &__eagle {
         display: none;
      }
      &__player-money {
         & span {
            font-size: 16px;
            margin-left: 10px;
         }
      }
      &__pay {
         width: 150px;
         & a {
            font-size: 16px;
         }
      }
      &__title-name {
         width: 250px;
         font-size: 30px;
      }
      &__title-btn {
         width: 250px;
      }

      .best-block {
         height: 180px;
         &__img-drop {
            // width: 100%;
            height: 150px;
            flex: 0 0 150px;
            // right: 10px;
         }
      }
   }
   .maps {
      &__title {
         padding: 25px 0;

         width: 100%;
         & p:last-child {
            display: flex;
            flex-direction: column;
            & span {
               margin-bottom: 5px;
            }
         }
      }
      &__team-item_single {
         width: 300px;
      }
   }
   .map {
      &__team {
         width: 300px;
         padding: 23px 0px;
      }
   }

   .team {
      &__logo {
         &_single {
            flex: 0 0 120px;
         }
      }
   }
   .myfriends-list {
      &__block {
         grid-template-columns: repeat(auto-fill, 300px);
         justify-items: center;
      }

      &__ava {
         flex: 0 0 50px;
         width: 50px;
         height: 50px;
         margin-right: 5px;
      }
      &__name {
         margin-right: 7px;
         font-size: 20px;
      }
      &__rank {
         top: 5px;
         right: -12px;

         width: 100px;
      }

      &__item {
         width: 250px;
      }
   }
   .player {
      &__ava {
         // width: 100px;
         flex: 0 0 80px;
         height: 80px;
      }
      &__rank {
         display: none;
      }
   }
   .how {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto 1fr auto 1fr auto 1fr auto;
      &__img {
         margin-top: 40px;
         &_width {
            margin-top: 40px;
         }
      }
   }
   .question {
      font-size: 16px;
      &__point {
         margin-right: 15px;
      }

      &__answer {
         font-size: 12px;
      }
   }
   .ranked {
      & td {
         background-color: inherit;
      }

      & th:nth-child(4),
      & th:nth-child(5) {
         visibility: hidden;
         width: 0;

         // display: none;
      }
      & td:nth-child(4),
      & td:nth-child(5) {
         visibility: hidden;
         width: 0;
         margin-left: -5px;

         // display: none;
      }
   }
   .best-players {
      width: 100%;
   }
}
@media (max-width: 350px) {
   .footer {
      &__avatar {
         left: -20px;
      }
   }
   .connect {
      &__img {
         width: 170px;
         margin-left: 5px;
      }
   }
   .agreement {
      padding: 30px 5px 60px 5px;
      &__title {
         font-size: 28px;
      }
      &__text {
         margin-top: 30px;
      }
   }
   .private {
      margin: 0;
      padding: 30px 5px 60px 5px;
      &__title {
         font-size: 28px;
      }
      &__text {
         margin-top: 30px;
      }
   }

   .maps {
      &__grid-item {
         width: 250px;
      }
   }
}
